@model MVC_Project.Areas.Admin.models.Account_Create_VM
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h1>Thêm tài khoản</h1>
<form method="post" asp-action="Create">
    <div>
        <hr />
        <dl class="row">
            <label asp-for="@Model.UserName" class="col-sm-2"></label>
            <dd class="col-sm-10">
                <input asp-for="@Model.UserName" class="l" />
                <span asp-validation-for="@Model.UserName" class="text-danger"></span>
            </dd>
            <label asp-for="@Model.Password" class="col-sm-2"></label>
            <dd class="col-sm-10">
                <input asp-for="@Model.Password" class="l" />
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </dd>
            <label asp-for="@Model.Email" class="col-sm-2"></label>
            <dd class="col-sm-10">
                <input asp-for="@Model.Email" class="l"></input>
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </dd>

            <label asp-for="@Model.PhoneNumber" class="col-sm-2"></label>
            <dd class="col-sm-10">
                <input asp-for="@Model.PhoneNumber" class="l" />
                <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
            </dd>

            <label asp-for="@Model.RoleName" class="col-sm-2"></label>
            <dd class="col-sm-10">
                <select asp-for="@Model.RoleName" asp-items="@ViewBag.RoleList" class="l" style="width: 178.15px;"></select>
                <span asp-validation-for="@Model.RoleName" class="text-danger"></span>
            </dd>
        </dl>
    </div>
    <div>
        <button type="submit" class="btn btn-rounded btn-primary float-left"><i class="fas fa-plus-square" style="margin-right:0.7em"></i>Save</button>
        <a asp-action="index" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>
    </div>
</form>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}