@model IEnumerable<MVC_Project.Areas.Admin.models.Account_Index_VM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-content">
    <div class="page-header">
        <h2 class="header-title">Danh sách sản phẩm</h2>
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a asp-area="Admin"
                   asp-controller="Home"
                   asp-action="Index"
                   class="breadcrumb-item">
                    <i class="anticon anticon-home m-r-5"></i>
                    Home
                </a>
                <span class="breadcrumb-item active">Danh sách tài khoản </span>
            </nav>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row m-b-30">
                <div class="col-lg-8">
                    <div class="d-md-flex">
                        <div class="m-b-10 m-r-15">
                            <select required
                                    asp-route-CatID="@ViewBag.CurrentCatID"
                                    asp-items="ViewBag.CategoriesList"
                                    class="custom-select"
                                    style="min-width: 220px;"
                                    id="txtCatID" name="txtCatID">
                                <option value="0" selected>Chọn tất cả</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 text-right">
                    <button class="btn btn-primary">
                        <i class="anticon anticon-plus-circle m-r-5"></i>
                        <a asp-area="Admin" asp-controller="AdminAccount" asp-action="Create" class="text-white">Thêm tài khoản</a>
                    </button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover e-commerce-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Hash Password</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id.Substring(0, 16)...</td>
                                    <td>
                                        @item.UserName
                                    <td>
                                        <h6 class="m-b-0 m-l-10">@item.Password.Substring(0, 14)...</h6>
                                    </td>
                                    <td>@item.Email</td>
                                    <td>@item.PhoneNumber</td>
                                    <td>
                                        <a class="btn btn-primary m-r-5 text-white"
                                           asp-area="Admin"
                                           asp-controller="AdminAccount"
                                           asp-action="Details"
                                           asp-route-id="@item.Id">
                                            View
                                        </a>
                                        <a class="btn btn-secondary m-r-5 text-white"
                                           asp-area="Admin"
                                           asp-controller="AdminAccount"
                                           asp-action="Edit"
                                           asp-route-id="@item.Id">
                                            Edit
                                        </a>
                                        <button class="btn btn-danger m-r-5 text-white"
                                                type="button" onclick="showConfirmDialog(@item.Id)">
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <div aria-label="Page navigation example">
                    <ul class="pagination">
                        @*<pager class="pager-container"
                               list="@Model"
                               asp-area="Admin"
                               asp-controller="AdminProduct"
                               asp-action="Index" />*@
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="confirmModal">
    <input type="hidden" value="0" id="product-delete-value" />
    <div class="modal-dialog" role="document" style="margin-top:140px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xác nhận hành động</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc muốn xóa sản phẩm này?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="confirmDelete()">Xóa</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
            </div>
        </div>
    </div>
</div>