@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<MVC_Project.Areas.Admin.Models.Adm_Product_Index>
@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="main-content">
    <div class="page-header">
        <h2 class="header-title">Danh sách sản phẩm</h2>
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a asp-area="Admin"
                   asp-controller="Home"
                   asp-action="Index"
                   class="breadcrumb-item">
                    <i class="anticon anticon-home m-r-5"></i>
                    Home
                </a>
                <span class="breadcrumb-item active">Danh sách sản phẩm : trang @CurrentPage </span>
            </nav>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row m-b-30">
                <div class="col-lg-8">
                    <div class="d-md-flex">
                        <div class="m-b-10 m-r-15">
                            <select required
                                    asp-route-CatID="@ViewBag.CurrentCatID"
                                    asp-items="ViewBag.CategoriesList"
                                    class="custom-select"
                                    style="min-width: 220px;"
                                    id="txtCatID" name="txtCatID">
                                <option value="0"  selected>Chọn tất cả</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 text-right">
                    <button class="btn btn-primary">
                        <i class="anticon anticon-plus-circle m-r-5"></i>
                        <a asp-area="Admin" asp-controller="AdminProduct" asp-action="Create" class="text-white">Thêm sản phẩm</a>
                    </button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover e-commerce-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Status</th>
                            <th>Upload Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.ProductId</td>
                                    <td>
                                        <img class="img-fluid rounded"
                                             src="~/image/Sneaker/@item.Image"
                                             style="max-width: 60px"
                                             alt="" />
                                    </td>
                                    <td>
                                        <h6 class="m-b-0 m-l-10">@item.Name</h6>
                                    </td>
                                    <td>@item.Category.Name</td>
                                    <td>@item.Price</td>
                                    <td>@item.Quantity</td>
                                    <td>@item.Status</td>
                                    <td>@item.UploadDate?.ToShortDateString()</td>
                                    <td>
                                        <a class="btn btn-primary m-r-5 text-white"
                                            asp-area="Admin"
                                            asp-controller="AdminProduct"
                                            asp-action="Detail"
                                            asp-route-id="@item.ProductId"
                                        >
                                            View
                                        </a>
                                        <a class="btn btn-secondary m-r-5 text-white"
                                            asp-area="Admin"
                                            asp-controller="AdminProducts"
                                            asp-action="Edit"
                                            asp-route-id="@item.ProductId"
                                        >
                                            Edit
                                        </a>
                                        <a class="btn btn-danger m-r-5 text-white"
                                            asp-area="Admin"
                                            asp-controller="AdminProducts"
                                            asp-action="Delete"
                                            asp-route-id="@item.ProductId"
                                        >
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <div aria-label="Page navigation example">
                    <ul class="pagination">
                        <pager class="pager-container"
                               list="@Model"
                               asp-area="Admin"
                               asp-controller="AdminProduct"
                               asp-action="Index" />
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function (){
            jQuery("#txtCatID").change(function(){
                var catID = jQuery(this).children(":selected").attr("value");
                catID = parseFloat(catID);
                $("#txtCatID option").removeAttr('selected');
                $("#txtCatID > [value="+catID+"]").attr("selected","true");

                $.ajax({
                    url: "/Admin/AdminProduct/Filter",
                    datatype: "json",
                    type: "GET",
                    data: {
                        CatID: catID
                    },
                    async: true,
                    success: function(results){
                        if(results.status=="success"){
                            window.location.href = results.redirectUrl;
                        }
                    },
                    error:function(xhr){
                        alert("error");
                    }
                })
            })
        })
    </script>
}