@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<Product_Home_VM>
<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Karma Shop</title>

	<!--
			CSS
			============================================= -->
	<link rel="stylesheet" href="css/linearicons.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/themify-icons.css">
	<link rel="stylesheet" href="css/nice-select.css">
	<link rel="stylesheet" href="css/nouislider.min.css">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/main.css">
</head>

<body id="category">

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Shop Category page</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">Fashon Category</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->
	<div class="container">
		<div class="row">
			<div class="col-xl-3 col-lg-4 col-md-5">
				<div class="sidebar-filter mt-50" style="margin-top:0px !important">
					<div class="top-filter-head">Product Filters</div>
					<div class="common-filter">
						<div class="head">Category</div>
						<form action="#">
							<ul>
								@foreach (var item in ViewData["CategoriesList"] as IEnumerable<Category_VM>)
								{
									<li class="filter-list">
										<input value="@item.CategoryID" class="pixel-radio mt-2" type="radio" id="apple" name="category-radio" @(ViewBag.CatID == item.CategoryID ? "checked" : "")>
										<label for="apple">@item.Name</label>
									</li>
								}
							</ul>
						</form>
					</div>
					<div class="common-filter">
						<div class="head">Price</div>
						<form action="#">
							<ul>
								<li class="filter-list">
									<input class="pixel-radio" type="radio" id="apple" value="under_100" name="price-radio" @(ViewBag.Price == "under_100" ? "checked" : "")>
									<label for="apple">Under 100$</label>
								</li>
								<li class="filter-list">
									<input class="pixel-radio" type="radio" id="asus" value="100_to_1000" name="price-radio" @(ViewBag.Price == "100_to_1000" ? "checked" : "")>
									<label for="asus">100$ - 1000$</label>
								</li>
								<li class="filter-list">
									<input class="pixel-radio" type="radio" id="gionee" value="over_1000" name="price-radio" @(ViewBag.Price == "over_1000" ? "checked" : "")>
									<label for="gionee">Over 1000$</label>
								</li>
							</ul>
						</form>
					</div>
					<div class="common-filter">
						<div class="head">Sort</div>
						<form action="#">
							<ul>
								<li class="filter-list">
									<input class="pixel-radio" type="radio" id="apple" value="by_title" name="sort-radio" @(ViewBag.Sort == "by_title" ? "checked" : "")>
									<label for="apple">Title A - Z</label>
									</li>
								<li class="filter-list">
									<input class="pixel-radio" type="radio" id="asus" value="by_price_asc" name="sort-radio" @(ViewBag.Sort == "by_price_asc" ? "checked" : "")>
									<label for="asus">Price Low to High</label>
								</li>
								<li class="filter-list">
									<input class="pixel-radio" type="radio" id="gionee" value="by_price_desc" name="sort-radio" @(ViewBag.Sort == "by_price_desc" ? "checked" : "")>
									<label for="gionee">Price High to Low</label>
								</li>
							</ul>
						</form>
					</div>
					<div class="top-filter-head" style="background:#FF7000!important;cursor:pointer" id="filter-btn">Click to filter products</div>
				</div>
			</div>

			<div class="col-xl-9 col-lg-8 col-md-7" id="product-container">
				<div class="filter-bar d-flex flex-wrap align-items-center" style="height:60px;flex-direction:row-reverse; padding:0px 8px !important">
					<button class="search" style="border:none"><span class="lnr lnr-magnifier" id="search"></span></button>
					<input type="text" id="search-input" class="w-25" style="outline:none;color:#000;font-size:18px" value="@ViewBag.Search"/>
					
				</div>
				<section class="lattest-product-area pb-40 category-list">
					<div class="row">
						@foreach (var item in Model)
						{
							<!-- single product -->
							<div class="col-lg-4 col-md-6">
								<div class="single-product">
									<a asp-controller="Product" asp-action="Detail" asp-route-id="@item.ProductId">
										<img class="img-fluid" src="image/Sneaker/@item.Image" alt="" style="max-height:255px!important; max-width:255px!important;min-height:180px">
									</a>
									
									<div class="product-details">
										<h6>
											@item.Name
										</h6>
										
										<div class="price">
											<h6>Price: $@item.Price</h6>
										</div>
										
									</div>
								</div>
							</div>
						}
					</div>
				</section>
				<!-- End Best Seller -->
				<!-- Start Filter Bar -->
				<div class="filter-bar d-flex flex-wrap align-items-center justify-content-center">

					<ul class="pagination">
						<div aria-label="Page navigation example">
							<ul class="d-flex">
								<li class="page-item @(Model.HasPreviousPage ? "" : "disabled")" style="width:80px">
									<a 
										class="page-link" 
										href="@Url.Action("Index", new {
											page = Model.PageNumber - 1, CatID = ViewBag.CatID, Price = ViewBag.Price , Sort = ViewBag.Sort , search = ViewBag.Search
										})"
										style="width:100%"
									>
										Previous
									</a>
								</li>
								@for (int i = 1; i <= Model.PageCount; i++)
								{
									<li class="page-item @(i == Model.PageNumber ? "active" : "")">
										<a 
											class="page-link" 
											href="@Url.Action("Index", new {
												page = i, CatID = ViewBag.CatID, Price = ViewBag.Price , Sort = ViewBag.Sort ,search = ViewBag.Search
											})"
										>
											@i
										</a>
									</li>
								}
								<li class="page-item @(Model.HasNextPage ? "" : "disabled")" style="width:80px">
									<a 
										class="page-link"
									   href="@Url.Action("Index", new {
										   page = Model.PageNumber + 1, CatID = ViewBag.CatID, Price = ViewBag.Price , Sort = ViewBag.Sort, search = ViewBag.Search
										})"
										style="width:100%;"
									>
										Next
									</a>
								</li>
							</ul>
						</div>
					</ul>
				</div>
				<!-- End Filter Bar -->
			</div>
		</div>
	</div>

	<!-- Start related-product Area -->
	<section class="related-product-area section_gap">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="section-title">
						<h1>Deals of the Week</h1>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
							magna aliqua.
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-9">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="img/r1.jpg" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="img/r2.jpg" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="img/r3.jpg" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="img/r5.jpg" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="img/r6.jpg" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="img/r7.jpg" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-related-product d-flex">
								<a href="#"><img src="img/r9.jpg" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-related-product d-flex">
								<a href="#"><img src="img/r10.jpg" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-related-product d-flex">
								<a href="#"><img src="img/r11.jpg" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="ctg-right">
						<a href="#" target="_blank">
							<img class="img-fluid d-block mx-auto" src="img/category/c5.jpg" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End related-product Area -->

	<!-- Modal Quick Product View -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="container relative">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<div class="product-quick-view">
					<div class="row align-items-center">
						<div class="col-lg-6">
							<div class="quick-view-carousel">
								<div class="item" style="background: url(img/organic-food/q1.jpg);">
								</div>
								<div class="item" style="background: url(img/organic-food/q1.jpg);">
								</div>
								<div class="item" style="background: url(img/organic-food/q1.jpg);">
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="quick-view-content">
								<div class="top">
									<h3 class="head">Mill Oil 1000W Heater, White</h3>
									<div class="price d-flex align-items-center"><span class="lnr lnr-tag"></span> <span class="ml-10">$149.99</span></div>
									<div class="category">Category: <span>Household</span></div>
									<div class="available">Availibility: <span>In Stock</span></div>
								</div>
								<div class="middle">
									<p class="content">
										Mill Oil is an innovative oil filled radiator with the most modern technology. If you are
										looking for something that can make your interior look awesome, and at the same time give you the pleasant
										warm feeling during the winter.
									</p>
									<a href="#" class="view-full">View full Details <span class="lnr lnr-arrow-right"></span></a>
								</div>
								<div class="bottom">
									<div class="color-picker d-flex align-items-center">
										Color:
										<span class="single-pick"></span>
										<span class="single-pick"></span>
										<span class="single-pick"></span>
										<span class="single-pick"></span>
										<span class="single-pick"></span>
									</div>
									<div class="quantity-container d-flex align-items-center mt-15">
										Quantity:
										<input type="text" class="quantity-amount ml-15" value="1" />
										<div class="arrow-btn d-inline-flex flex-column">
											<button class="increase arrow" type="button" title="Increase Quantity"><span class="lnr lnr-chevron-up"></span></button>
											<button class="decrease arrow" type="button" title="Decrease Quantity"><span class="lnr lnr-chevron-down"></span></button>
										</div>

									</div>
									<div class="d-flex mt-20">
										<a href="#" class="view-btn color-2"><span>Add to Cart</span></a>
										<a href="#" class="like-btn"><span class="lnr lnr-layers"></span></a>
										<a href="#" class="like-btn"><span class="lnr lnr-heart"></span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<script src="js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
			crossorigin="anonymous"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="js/jquery.nice-select.min.js"></script>
	<script src="js/jquery.sticky.js"></script>
	<script src="js/nouislider.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="js/gmaps.min.js"></script>
	<script src="js/main.js"></script>
	<script>
		let category_input = "@ViewBag.CatID" ? "@ViewBag.CatID" : null;
		let price_input = "@ViewBag.Price" ? "@ViewBag.Price" : null;
		let sort_input = "@ViewBag.Sort" ? "@ViewBag.Sort" : null;
		var input_element = document.getElementById("search-input");
		var scrollToElement = document.getElementById("product-container");
		// ========================== Sự kiện category radio ==============================
		const radioButtonsCat = document.querySelectorAll('input[name="category-radio"]');
		radioButtonsCat.forEach((radioButtonCat) => {
			radioButtonCat.addEventListener('click', function () {
				if (this.checked) {
					if (this.value === category_input) { // Nếu input radio đã được check rồi
						category_input = null; // Bỏ check và gán giá trị là null
						this.checked = false; // Bỏ check input radio
					} else {
						category_input = this.value;
					}
					console.log(category_input);
				}
			});
		});
		// ========================== Sự kiện price radio ==============================
		const radioButtonsPrice = document.querySelectorAll('input[name="price-radio"]');
		radioButtonsPrice.forEach((radioButtonPrice) => {
			radioButtonPrice.addEventListener('click', function () {
				if (this.checked) {
					if (this.value === price_input) { 
						price_input = null; 
						this.checked = false; 
					} else {
						price_input = this.value;
					}
					console.log(price_input);
				}
			});
		});
		// ========================== Sự kiện sort radio ==============================
		const radioButtonsSort = document.querySelectorAll('input[name="sort-radio"]');
		radioButtonsSort.forEach((radioButtonSort) => {
			radioButtonSort.addEventListener('click', function () {
				if (this.checked) {
					if (this.value === sort_input) { 
						sort_input = null; 
						this.checked = false; 
					} else {
						sort_input = this.value;
					}
					console.log(sort_input);
				}
			});
		});
		// ========================== Ajax lọc sản phẩm ==============================
		const filterBtn = document.getElementById('filter-btn');
		filterBtn.addEventListener('click', function () {
			console.log("cat: "+category_input);
			console.log("price: "+price_input);
			console.log("sort: " + sort_input);
			$.ajax({
				url: "/Product/Filter",
				datatype: "json",
				type: "GET",
				data: {
					CatID: category_input,
					Price: price_input,
					Sort : sort_input
				},
				success: function (results) {
					if (results.status == "success") {
						window.location.href = results.redirectUrl;
					}
				},
				error: function (xhr) {
					alert("error");
				}
			})
		});
		// ==================== Tìm kiếm sản phẩm ===================
		input_element.addEventListener("keypress", function (event) {
			if (event.key === "Enter") {
				console.log("Search term: " + input_element.value);
				$.ajax({
					url: "/Product/Filter",
					datatype: "json",
					type: "GET",
					data: {
						CatID: category_input,
						Price: price_input,
						Sort : sort_input,
						search : input_element.value
					},
					success: function (results) {
						if (results.status == "success") {
							window.location.href = results.redirectUrl;
						}
					},
					error: function (xhr) {
						alert("error");
					}
				})
			}
		});
		setTimeout(function () {
			scrollToElement.scrollIntoView();
		}, 0);
	</script>
</body>

</html>

