@model Cart_Index_VM
<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="CodePixar">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Karma Shop</title>

    <!--
            CSS
            ============================================= -->
    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/nouislider.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Shopping Cart</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="category.html">Cart</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Cart Area =================-->
    @if (Model.CartItems.Count == 0)
    {
        <div style="display:flex; justify-content:center ; margin:40px 0px">
            <div style="text-align:center;">
                 <h1>YOUR CART IS EMPTY!</h1>
                <a asp-controller ="Product" asp-action="Index">SHOPPING NOW</a>
            </div>
           
        </div>
        
    }
    else
    {
        <section class="cart_area">
            <div class="container">
                <div class="cart_inner">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Product</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.CartItems)
                                {
                                    <tr>
                                        <td>
                                            <div class="media">
                                                <div class="d-flex max-height-255 max-width-255">
                                                    <img src="image/Sneaker/@item.Image" alt="" style="height:255px!important; width:255px!important;">
                                                </div>
                                                <div class="media-body">
                                                    <p>Minimalistic shop for multipurpose use</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <h5>@item.PricePerProduct</h5>
                                        </td>
                                        <td>
                                            <div class="product_count">
                                                <input type="text" name="qty" id="sst" maxlength="12" value="@item.Quantity" title="Quantity:"
                                                       class="input-text qty">
                                                <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                                        class="increase items-count" type="button">
                                                    <i class="lnr lnr-chevron-up"></i>
                                                </button>
                                                <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                                        class="reduced items-count" type="button">
                                                    <i class="lnr lnr-chevron-down"></i>
                                                </button>
                                            </div>
                                        </td>
                                        <td>
                                            <h5>@item.Total</h5>
                                        </td>
                                    </tr>
                                }
                                <tr class="bottom_button">
                                    <td>
                                        <a class="gray_btn" asp-controller="Cart" asp-action="Index">Update Cart</a>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                        <div class="cupon_text d-flex align-items-center">
                                            <input type="text" placeholder="Coupon Code" class="border text-dark  text-uppercase" id="discount-input">
                                            <span class="primary-btn" id="cart-apply-btn">Apply</span>
                                            <span class="gray_btn" id="cart-cancel-btn" style="cursor:pointer">Cancel</span>
                                        </div>
                                    </td>
                                </tr>
                                <form id="cart-input-form" asp-action="Checkout" method="get">
                                <tr class="shipping_area">
                                    <td>
                                        <h1>Information</h1>
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Full Name</label>
                                            <input type="text" class="form-control" id="nameInput" aria-describedby="emailHelp" asp-for="@Model.Fullname">
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Address</label>
                                            <input type="text" class="form-control" id="addressInput" aria-describedby="emailHelp" asp-for="@Model.Address">
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleInputPassword1" class="form-label">Phone Number</label>
                                            <input type="text" class="form-control" id="phoneInput" asp-for="@Model.PhoneNumber">
                                        </div>

                                    </td>

                                    <td>
                                    </td>
                                    <td>
                                        <h5>Check out</h5>
                                    </td>
                                    <td>
                                        <div class="shipping_box">
                                            <ul class="list">
                                                <li class="d-flex justify-content-between ml-3">
                                                    <span class="font-weight-bold text-dark">Sub Total: </span>
                                                    <span>$@Model.CartSubTotal</span>
                                                </li>
                                                <li class="d-flex justify-content-between ml-3">
                                                    <span class="font-weight-bold text-dark">Shipping: </span>
                                                    <span>$5.00</span>
                                                </li>
                                                <li class="d-flex justify-content-between ml-3">
                                                    <span class="font-weight-bold text-dark">Discount: </span>
                                                    <span id="cart-discount-price">$@Model.DiscountPrice</span>
                                                </li>
                                                <li class="d-flex justify-content-between ml-3">
                                                    <span class="font-weight-bold text-dark">Total: </span>
                                                    <span>$@Model.CartTotal</span>
                                                </li>

                                            </ul>

                                        </div>
                                    </td>
                                </tr>
                                <tr class="out_button_area">
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                        <div class="checkout_btn_inner d-flex align-items-center">
                                            <a class="gray_btn p-0 px-3" asp-controller="Product" asp-action="Index">Continue Shopping</a>
                                            <input type="submit" class="primary-btn" value="Proceed to checkout" />
                                        </div>
                                    </td>
                                </tr>
                                </form>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    }
    
    <!--================End Cart Area =================-->

    <script src="js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
     crossorigin="anonymous"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/nouislider.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <!--gmaps Js-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="js/gmaps.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>

@*<script>
    var form = document.getElementById('cart-input-form');
    var nameInput = document.getElementById('nameInput');
    var addressInput = document.getElementById('addressInput');
    var phoneInput = document.getElementById('phoneInput');
    form.addEventListener('submit', function (event) {
        if (nameInput.value.trim() === '') {
            alert('Full Name cannot be empty');
            event.preventDefault();
            nameInput.focus();
            
        } else if (addressInput.value.trim() === '') {
            alert('Address cannot be empty');
            event.preventDefault();
            addressInput.focus();
        } else if (phoneInput.value.trim() === '') {
            alert('Phone Number cannot be empty');
            event.preventDefault();
            phoneInput.focus();
        }
    });
</script>*@
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#cart-apply-btn').click(function () {
                var discountInput = $('#discount-input').val();
                $.ajax({
                    type: "GET",
                    url: "/Discount/ApplyDiscount",
                    data: { name: discountInput },
                    success: function (data) {
                        if (data.status == "notfound") {
                            return false;
                        }
                        else{
                            location.reload();
                        }
                    },
                    error: function () {
                        console.log("Something went wrong!");
                    }
                });
            });

            $('#cart-cancel-btn').click(function () {
                $.ajax({
                    type: "GET",
                    url: "/Discount/CancelDiscount",
                    success: function (data) {
                        location.reload();
                    },
                    error: function () {
                        console.log("Something went wrong!");
                    }
                });
            });
        });
       
    </script>
}

